* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-wrapper {
  margin: 20px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

h1 {
  color: red;
}

.top-button-wrapper {
  margin: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
}


.body-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.watch-wrapper {
  margin: auto;
  width: 50vw;
  padding: 10px;
  display: flex;
  height: 50vh;
  flex-direction: row;
}

#watch-time {
  font-size: 48px;
  width: 50%;
  padding: 10px;
  background-color: grey;
  border: 5px black solid;
  z-index: 1;
}


.watch-inner-wrapper,
#list-buttons2 {
  border: 1px solid;
  margin: auto;
  width: 400px;
  padding: 10px;
  height: 400px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 0;
  box-shadow: 2px 2px 5px 3px lightgray;
  background-image: radial-gradient(circle closest-side, #4CAF50, #387F3F);
}


#list-buttons {
  top: -3%;
  left: -3%;
}

.button {
  width: 60px;
  height: 50px;
  background: linear-gradient(0deg, gray 50%, #387F3F 50%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  border: 0;
  font-weight: bold;
}

.button:nth-child(1) {
  --angle: 181deg;
}

.button:nth-child(5) {
  --angle: 120deg;
}

.button:nth-child(4) {
  --angle: 50deg;
}

.button:nth-child(2) {
  --angle: 245deg;
}

.button:nth-child(3) {
  --angle: 308deg;
}

.button {
  --radius: 198px;
  transform: translate(-50%, -50%) rotate(var(--angle)) translateY(var(--radius));
}

.add_clock_button {
  width: 50px;
  height: 50px;
  background-color: rgb(40, 160, 220);
  font-size: 1;
  color: white;
}